:root {
    --variable-collection-color: rgba(61, 27, 16, 1);
    --variable-collection-color-2: rgba(126, 37, 38, 1);
    --variable-collection-color-3: rgba(255, 250, 234, 1);
    --system-colors-fills-secondary: rgba(120, 120, 128, 0.16);
  }
  
  /*
  
  To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:
  
  <body data-system-colors-mode="light">
      <!-- the rest of your content -->
  </body>
  
  You can apply the theme on any DOM node, not just the `body`
  
  */
  
  [data-system-colors-mode="light"] {
    --system-colors-fills-secondary: rgba(120, 120, 128, 0.16);
  }
  
  [data-system-colors-mode="dark"] {
    --system-colors-fills-secondary: rgba(120, 120, 128, 0.32);
  }
  
  [data-system-colors-mode="dark-elevated"] {
    --system-colors-fills-secondary: rgba(120, 120, 128, 0.32);
  }
  
  [data-system-colors-mode="IC-light"] {
    --system-colors-fills-secondary: rgba(120, 120, 128, 0.24);
  }
  
  [data-system-colors-mode="IC-dark"] {
    --system-colors-fills-secondary: rgba(120, 120, 128, 0.4);
  }
  
  [data-system-colors-mode="IC-dark-elevated"] {
    --system-colors-fills-secondary: rgba(120, 120, 128, 0.4);
  }
  