.box {
  width: 1440px;
  height: 150px;
}

.box .group {
  position: fixed;
  width: 1442px;
  height: 150px;
  top: 0;
  left: 0;
}

.box .overlap-group {
  position: relative;
  width: 1440px;
  height: 150px;
  background-color: #1a1917;
}

.box .text-wrapper {
  position: absolute;
  width: 174px;
  top: 62px;
  left: 119px;
  -webkit-text-stroke: 1px transparent;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box .line {
  position: absolute;
  width: 80%;
  height: 3px;
  top: 108px;
  left: 112px;
  object-fit: cover;
}

.box .search {
  position: absolute;
  width: 49px;
  height: 50px;
  top: 47px;
  left: 1218px;
}

.box .close {
  position: absolute;
  width: 49px;
  height: 49px;
  top: 47px;
  left: 1150px;
}

.search-text {
    position: absolute;
    width: 174px;
    left: 13%;
    top: 70%;
    transform: translate(-50%, -50%);
    margin-top: -20px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 300;
    color: #FFFFFF;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
}


@media screen and (max-width: 390px) {
  .box {
    width: 100%;
    height: 100px;
  }

  .box .group {
    width: 100%;
    height: 100px;
  }

  .box .overlap-group {
    width: 100%;
    height: 100px;
  }

  .box .text-wrapper {
    width: auto;
    top: 40px;
    left: 20px;
    font-size: 24px;
  }

  .box .line {
    width: 80%;
    height: 2px;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
  }

  .box .search {
    width: 30px;
    height: 30px;
    top: 35px;
    right: 40px;
    left: auto;
  }

  .box .close {
    width: 30px;
    height: 30px;
    top: 35px;
    right: 80px;
    left: auto;
  }

  .search-text {
    width: auto;
    left: 40px;
    top: 40px;
    transform: none;
    margin-top: 0;
    font-size: 24px;
    position: absolute;
  }
}
